/* some links
 * https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/invert
 *
 *
 */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

:root {
	--perspective: 16cm;
}

@font-face {
	font-family: "nanum-myeongjo";
	src: url('./font-family/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf') format('truetype');
}
@font-face {
	font-family: "inter";
	src: url('./font-family/Inter/static/Inter-Medium.ttf') format('truetype');
}
body {
	background-image: url('./images/abstract-g74c46e1c6_1920.png');
	background-attachment: fixed;    
	font-family: 'inter', serif;
}
body > div {
	display: grid;
	grid-template-rows: 2cm minmax(calc(100vh - 5cm), auto) 3cm;
	width: 100%;
}


.cb {
	background-color: red;
}



.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}


.header-parent {
	height: 100%;
	/*
	background-color: white;
	opacity: 0.5;
	* background is transparent but the not text or other elements inside the div etc!!!
	*/
	/* 
	 * --- I've done this again, because when we push the play with the book form part, we could see the form that goes behind the header as we decided to  make things transparent and have a common background image (I think looks very nice...) instead of individual ones (I came to this decision after some things I tried in my mind. Idk...). --- 
	 */
	background-image: url('./images/abstract-g74c46e1c6_1920.png');
	background-size: auto;
	background-attachment: fixed;
	background-position: top left;
}
.header-sub-parent {
	height: 100%;
	width: 100%;
	/* seperated this and added as .header-sub-parent extra div. So we can keep the linear-gradient through all header regardless of margin-padding (was giving me a bit of headache...) */
	/* background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8));
	background-image: linear-gradient(to bottom right, rgb(2, 1, 7, 0.9), rgb(2, 1, 7, 0.9), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
	*/
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));

}
.header {
	/* instead of margin and padding, I just substracted the amount of padding or margin etc... This works along with flex-center. But when playing with margin and padding, lots of things gets affected. Currently I got what I want... */
	height: calc(100% - 0.2cm);
	width: calc(100% - 0.2cm);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	height: 100%;
	width: 4cm;
	overflow: hidden;
	background-color: #FCF1F1;
	border-radius: 0.3cm;
	/*box-shadow: 0 0 0.8cm #1A1C20 inset;*/
	box-shadow: 0 0 0.8cm rgb(26, 0, 23, 0.8) inset;
	box-shadow: 0 0 0.8cm rgb(0, 0, 0) inset;
	/*
	background-color: black;
	background-image: url('./images/triangle-g62e1e2737_1280.png');
	background-size: 100%;
	*/
	background-color: rgb(0, 0, 0, 0.2);
}
.logo > div {
	height: 90%;
	margin: 10%;
	overflow: hidden;
}
.logo img {
	/*
	padding: 0.2cm;
	*/
	height: 120%;
	margin-top: 12%;
	transform: rotateY(180deg);
	filter: invert(0.8);
}

.content {
}
.form-parent {
	overflow: hide;
	/* background-color: #E5BA73;
	background-color: rgb(229, 186, 115, 0.9);
	background-color: rgb(254, 119, 69, 0.8);
	background-color: rgb(254, 150, 74, 0.8);
	background-color: rgb(80, 43, 72, 0.6);
	background-color: rgb(254, 235, 191, 0.8);
	background-color: rgb(253, 216, 129, 0.9);
	background-color: rgb(253, 231, 181, 0.9);
	background-color: rgb(250, 181, 5, 0.5);
	background-color: rgb(219, 204, 138, 0.8);
	background-color: rgb(254, 249, 205, 0.99);
	background-color: rgb(195, 152, 101, 0.8);
	background-color: rgb(212, 182, 145, 0.8);
	background-color: rgb(219, 194, 163, 0.8);
	background-color: rgb(226, 206, 182, 0.8);
	background-color: rgb(255, 255, 255, 0.8);
	*/
	background-image: linear-gradient(to top right, rgb(2, 1, 7, 0.9), rgb(2, 1, 7, 0.9), rgb(255, 255, 255, 0), rgb(255, 255, 255, 0.8), rgb(255, 255, 255, 0.8));


	position: relative;
	z-index: -9999;
	max-height: 0;

	transition-duration: 0.3s;
}
.form-parent-active {
	z-index: 100;
	max-height: 7cm;
	transition-duration: 0.3s;
}
.form {
	margin: 0.4cm;
	position: relative;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.2cm; 
}
.form > div {
	border-radius: 0.3cm;
	background-color: #F0E3CA;
}
.form form { /* except short info */
	margin: 0.4cm;
	height: calc(100% - 0.8cm);
}
.form div:nth-child(2n+1) form { /* except short info */
	display: grid;
	grid-template-rows: repeat(auto-fit, 1fr);
	justify-content: center;
	align-content: start;
	grid-gap: 0.3cm;
}
.form div:nth-child(2n) form { /* short info */
}
.form > div > input { /* "read" radio input buttons not included... */
}
form .form-read { /* has flex-center */
	flex-direction: column;
	width: 100%;
}
form .form-read > label {
	text-decoration: underline;
}
form .form-read > div {
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
form .short-info {
	height: calc(100%);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
textarea {
	display: block;
	width: calc(100% - 0.2cm);
	height: 100%;
	resize: none;
}
.form > div:nth-of-type(3) {
	grid-column: 1 / span 3;
}
.form > div:nth-of-type(3) button {
	width: 100%;
}


.books-grid-parent {
	width: 100%;

	/* hmm, directly copied from header-parent, looks like working fine in harmony with  others... I added this for I'm adding transparency to the background-color, and form is being seen when should be hidden... */
	background-image: url('./images/abstract-g74c46e1c6_1920.png');
	background-size: auto;
	background-attachment: fixed;
	background-position: top left;
}
.books-grid-sub-parent {
	width: 100% - 0.4cm;
	height: 100%;
	/*background-color: #1A1C20;*/
	/* background-color: rgb(3, 0, 16, 0.8); /* trying colors... Note: this is also should give the logo background color...*/	
	background-color: rgb(23, 2, 19);
	background-color: rgb(19, 5, 16);
	background-color: rgb(11, 4, 10, 0.97);
	background-color: rgb(4, 0, 24);
	background-color: rgb(2, 2, 7, 0.97);
	background-color: rgb(2, 1, 7, 0.9);
	padding: 0.4cm;
}
.books-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(2cm, 5cm));
	grid-template-rows: repeat(auto-fill, minmax(4cm, 6cm));
	gap: 0.3cm;
}

.individual-book-card {	
	background-color: #FCF1F1;
	border-radius: 0.3cm;
	border-width: 0.1cm;
	border-style: solid;
	border-color: #F9813A;
	border-color: rgb(253, 216, 129);
	/*
	border-top-color: red;
	border-top-width: 0.3cm;
	*/
	transition-duration: 0.15s;

	padding: 0.2cm;

}
.book-rotate-half {
	/* perspective should be before rotate! */
	transform: perspective(var(--perspective)) rotateY(90deg);
}
.book-rotate-all  {
	transform: perspective(var(--perspective)) rotateY(180deg);
}
.individual-book {
	width: 100%;
	height: 100%;
	position: relative;
	display: grid;
}
.face-parent {
}
.face-parent > div {
	position: absolute;
}
.face {
	width: 100% - 0.5cm;
	height: 100% - 0.5cm;

	display: grid;
	gap: 0.5cm;
}
.display-off {
	display: none;
}
.book-card-section {
	display: grid;
	grid-template-columns: auto auto;
	gap: 0.5cm;
}
.read div:nth-child(2) {
	/*
	 border: solid 0.1cm red;
	 */
}
.read div:nth-child(2):hover {
	cursor: pointer;
}

.card-buttons-parent {
	width: 100%;
	height: 100%;
	display: grid;
	align-content: end;
}
.card-buttons {
	display: grid;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
}
.card-buttons button {
	width: 100%;
}



.footer {
	width: 100%;
}
.footer .logo {
	width: 100%;
}
.menu {
}





